/* Основний колір текста #2E2F42; */
/* Другорядний колір тексту #434455;
#E7E9FC; */
/* Білий #FFFFFF; */
/* accent #4D5AE5; */
:root {
  --primary-text-color: #434455;
  --tittle-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --white: #ffffff;
}

body {
  font-family: "Roboto" , sans-serif;
  color: var(--primary-text-color);
  background-color: var(--white);
  font-weight: 500;
  font-size: 16px;
}

.hero {
  background-color: var(--tittle-text-color);
}

.accent {
  color: var(--accent-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* Header */

.header-logo {
  font-family: "Raleway" , sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--tittle-text-color);
}

.header-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--tittle-text-color);
}

.header-link:hover,
.header-link:focus {
  color: #404bbf;
}

.address-link {
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.hero-tittle {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--white);
}

.header-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  color: #ffffff;
  background-color: #4d5ae5;
}

.header-btn:hover,
.header-btn:focus {
  background-color: #404bbf;
}

/* Section Our qualities */

.qualities-tittle {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--tittle-text-color);
}

.qualities-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* Section possibilities*/

.possibilities-tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: var(--tittle-text-color);
}

/* Section Team */

.team {
  background-color: #f4f4fd;
}
.team-tittle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--tittle-text-color);
}
.team-subtittle {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--tittle-text-color);
}
.team-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* Footer */

.footer {
  background-color: var(--tittle-text-color);
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}

/* Portfolio Projects */

.projects-btn {
  font-family: inherit;
  font-weight: 500;
  line-height: 1.5;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  color: var(--accent-color);
  background-color: #f4f4fd;
}

.projects-link {
  text-decoration: none;
}

.projects-btn:hover,
.projects-btn:focus {
  color: var(--white);
  background-color: #404bbf;
}

.projects-subtittle {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--tittle-text-color);
}
.projects-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
